.DS_Store
github-copilot/multiLanguageContextProviderDocumentSymbols/142c5fcc-3bc0-4c3a-9fcb-36041c7a8acc.db
github-copilot/multiLanguageContextProviderDocumentSymbols/dd8673af-1aed-4295-bb99-9eb2dd93d318.db
github-copilot/multiLanguageContextProviderDocumentSymbols/fe984789-ff42-464d-93aa-066ade45fb78.db
github-copilot/symbolDatabaseLookup.json
GNS3/2.2/gns3_controller.conf
GNS3/2.2/gns3_gui.conf
GNS3/2.2/gns3_gui.log
GNS3/2.2/gns3_gui.pid
GNS3/2.2/gns3_server.conf
GNS3/2.2/gns3_server.log
install.sh
installs.sh
qBittorrent/qBittorrent-data.ini
qBittorrent/qBittorrent.ini
